#details{
    background-color:  #0C1422!important;
    height: 100vh;
    color:white;
    font-family:Cambria, Cochin, Georgia, Times, 'Times New Roman', serif;
    .header{
        font-size: 30px;
        color: rgb(160, 160, 160);
    }
    i{
        cursor: pointer;
    }
    .bg-info{
        color:white;
        font-size: 14px;
        border-radius: 10px;
        padding: 5px 5px;
        background-color: #7F5AF0 !important;
    }
    .btn-main{
        background-color:#0C1422;
        border-radius: 8px;
        border: solid #7F5AF0 1px;
        padding: 10px 10px;
        color:#7F5AF0;
        font-size: 18px;
    }
    .btn-main:hover{
        color: white;
        background-color: #7F5AF0;
        border: solid #7F5AF0 1px;
        font-size: 18px;
    }
}