.login {
    background-color: #0C1422 !important;
    color: white;
    width: 100%;
}
// img {
//     width: 100%;
//     height: 130vh;
// }
.color-text {
    color: #7f5af0;
}
.color-background {
    background-color: #0A121F;
}
.link {
    text-decoration: none !important;
    color: #7f5af0 !important;
    cursor: pointer;
}
button {
    background-color: #7f5af0;
    border: solid #7f5af0;
}
.content-text {
    font-size: 20px;
}
.pic {
    position: relative;
    width: 100%;
    height: 100vh; /* or any desired height */
    overflow: hidden;
  }
  
  .pic-auth {
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 90%;
    object-fit: cover; /* Ensures the image covers the container while maintaining its aspect ratio */
    object-position: center; /* Centers the image within the container */
    display: block; /* Ensures no extra space around the image */
    border-radius: 48px;
  }
  

@media (max-width: 767px) {
    .auth-card {
        padding: 2rem 1rem;
        margin: 2rem 1rem;
    }
}
