.navbar-brand{

}
.navbar{
    background-color: #0C1422!important;
}
.bg-primary{
    background-color:#0C1422!important;
    border: solid #0C1422;
}
.bg-main-transparent{
    background-color: #0F0E17 !important;
    color:#3A8CBE !important;
    border-radius: 10px;
}