<section id="login" class="login">
    <div class="container-fluid">
        <div class="row">
           
            <div class="col-md-6">
                <div class="logo pt-3 ps-4">
                    <h2><span class="color-text">Games</span>X.</h2>
                </div>
                <div class="auth-card py-5 px-5 mt-5 ms-5 ps-5">
                    <div class="content-text">
                        <h2 class="mb-3">Forgot Password</h2>
                        <p >If you  have an account <br>
                            You can <a routerLink="/auth/login" class="fw-bolder link">Login here !</a></p>
                    </div>
                    <form class="mt-5" [formGroup]="forgetPasswordForm" (ngSubmit)="onSubmit(forgetPasswordForm)">
                       <div class="mt-4">
                        <label class="pb-2 fw-bold">E-mail</label>
                        <input class="form-control" formControlName="email" matInput placeholder="Enter your E-mail" required >
                        <div *ngIf="forgetPasswordForm.controls['email'].errors&&forgetPasswordForm.controls['email'].touched" class="w-100">
                            <p class="text-error text-danger" *ngIf="forgetPasswordForm.controls['email'].errors['required']">email is required</p>
                           
                          </div>
                       </div>
                     
                       
                       <button class="w-100  text-white  rounded-2 mt-5 p-2">Send mail</button>
                      
                    </form>
                </div>
        
            </div>
            <div class="col-md-6">
                <div class="pic">
                    <img src="../../../../../../assets/images/authphoto.jpeg" class=" my-4 pe-2 pic-auth">
                </div>
            </div>
        </div>
    </div>
    </section>
