<section class="welcome-section">
  <div class="backGround">
    <div class="layer d-flex align-items-center justify-content-between flex-wrap">
      <div class="content col-lg-5 col-md-6 col-12 p-4">
        <h1 class="text-white">WELCOME TO <span class="logo">Games<span class="logo-child">X.</span></span></h1>
        <p class="text text-white">Your ultimate destination for all things gaming! Whether you're a casual player looking for a
          fun way to pass the time or a hardcore gamer seeking
          the latest and greatest in video games, we’ve got you covered.</p>
      </div>
    </div>
  </div>
</section>

<section id="superhero" class="games-section">
  <div class="container">
    <div class="row">
      <div class="col-lg-4 col-md-6 col-12 mt-3 mb-3" *ngFor="let item of tableOfSuperheroData">
        <a class="link" [routerLink]="['details',item.id]">
          <div class="card shadow p-3 h-100 text-white">
            <img [src]="item.thumbnail" class="card-img-top" alt="...">
            <div class="card-body">
              <h5 class="card-title d-flex justify-content-between">{{item.title}}<span class="bg-primary text-white">Free</span></h5>
              <p class="card-text">{{item.short_description}}</p>
              <div class="d-flex justify-content-between">
                <span class="bg-gray">{{item.genre}}</span>
                <span class="bg-gray">{{item.platform}}</span>
              </div>
            </div>
          </div>
        </a>
      </div>
    </div>
  </div>
</section>
